@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

.bg-color-name-title {
    background-color: #D9D9D8;
}

.bg-color-main-section {
    background-color: #fff;
}

/* ----------------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.heading1 {

  margin-top:20px;
  margin-bottom: 2px;
  font-size: 30px;
  font-weight: 600;

}

.uppercase {
    text-transform: uppercase;
}

.catalogue-header {
font-size: 20px;
}

/*--------------------------------------------Heading*/
.heading {
  font-family: 'lucinda handwriting', cursive;
    font-weight: 800;
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white
    color:#ffa500;
}

/* --------- Contact form --------- */

.contact-header {
    font-family: "Exo", sans-serif;
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 25px;
    width: 100%;
    color: #C52639;

}

.contact-padding {
    margin-top: 30px;


}

.contact-paddingtop {
    margin-top: 60px;


}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}


.GeneratedMarquee {
font-family:'Times New Roman', serif;
font-size:xx-large;
font-weight:bold;
line-height:1.3em;
color:#FF0033;
background-color:#FFFFFF;
padding:1.5em;

}








/*--------------------------------------------Heading*/

.heading-padding {
    margin-top: 30px;

}

/* --------- Body --------- */

.para {
    max-width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;

}

.pdf {
    margin-top: 30px;
}

.mark {
  font-weight: 800;
  font-size: 40px;
}

.catalogue {
  font-size: 30px;
  text-align: center;
  margin-top: 40px;


}
/* --------- Buttons -------*/


/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  width:50;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;

}

/* Style the hamburger menu */

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;

}

/* Add a grey background color on mouse-over */

.topnav a:hover {
  background-color: white;
  color: black;
}
/* Style the active link (or home/logo) */
.active {
  background-color: white;
  color: white;

}



/* ----------------------Footer---------------------- */

footer {
    background-color: white;
    color: #C52639;
    max-height: 60px;
    margin: 0;
    width:100%;
}

.cv-pdf i {
    font-size: 18px;
    color: #625986;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color: #C52639;
}

/*---------------------- Button ----------------------*/

.btn {
        margin-left: 5px;
        margin-top:10px ;
        left:100px;
}

/* ----------------------Media Queries---------------------- */


@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}

@media(max-width: 400px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
    .title {
        font-size: 40px;
        text-align: left;
        max-width: 100px;
        padding-left: 5px;
    }
    .intro {
        max-width: 260px;
    }
    .intro-heading {
        max-width: 300px;
    }
}
